<div class="row" ng-controller="vacancyListCtrl">
    <div class="filters col-lg-11 col-centered">
        <div class="col-lg-1" ng-repeat="filter in filters">
            <md-checkbox ng-model="filterValues[filter.name].value" ng-change="filterVacancies()" class="md-warn" aria-label="{{filter.name}}">
                {{filter.name}}
            </md-checkbox>
        </div>
    </div>
    <div ng-class="currentVacancy ? 'col-lg-7' : 'col-centered col-lg-11'">
        <table class="table  tableMaterial" style="border-radius:5px;background:#fff">
            <thead style="border:none">
                <tr>
                    <th ng-repeat="column in columnsTable">{{column.heading.toUpperCase()}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vacancy in vacanciesData | filter: {hot : filterValues['Hot'].filter} | filter: {hot : filterValues['state'].filter}" ng-class="vacancy == currentVacancy ? 'selectedTable' : 'none' " ng-click="selectVacancy(vacancy)">
                    <td>{{vacancy.name}}</td>
                    <td><a href="#!" class="collection-item"><span class="badge open">{{vacancy.state}}</span></a><a ng-if="vacancy.hot == true" href="#!" class="collection-item"><span class="badge hot">HOT</span></a></td>
                    <td>{{vacancy.createTime|date:'medium'}}</td>
                    <td>
                        <tag-list tags="vacancy.tags"> </tag-list>
                    </td>
                    <td><span class="badge open">{{vacancy.number}}</span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- End Vacancy card wrapper  -->
    <div ng-show="currentVacancy" class="clearfix sideView " ng-class="currentVacancy ? 'col-lg-5' : 'hide'">
        <!-- Vacancy side menu  -->
        <md-toolbar md-scroll-shrink>
            <!-- Nav Vacancy side menu  -->
            <div class="md-toolbar-tools clearfix">
                <div class="col-lg-11"><span class="heading-vacancy-side
               ">{{currentVacancy.name}}</span></div>
                <div class="col-lg-1"><span ng-show="currentVacancy.hot == true" class="badge hot">HOT</span></div>
            </div>
        </md-toolbar>
        <!-- End Nav Vacancy side menu  -->
        <md-content>
            <!-- Content Vacancy side menu  -->
            <div class="wrapper-sidemenu col-centered">
                <!-- Wrapper side menu  -->
                <md-tabs md-selected="selectedIndex" flex>
                    <md-tab ng-repeat="tab in tabsVacancies"><a href='javascript:void(0)'>{{tab.heading}}</a> </md-tab>
                </md-tabs>
                <div ng-show="updateProcess" class="progress progress-details" style="margin:0px">
                    <div class="indeterminate"></div>
                </div>
                <div ng-show="selectedIndex == 0">
                    <vacancy-side-main></vacancy-side-main>
                </div>
                <!-- End tab Main  -->
                <div ng-show="selectedIndex == 1">
                    <vacancy-side-flow></vacancy-side-flow>
                </div>
                <div ng-show="selectedIndex == 2">
                    <vacancy-side-suggestions></vacancy-side-suggestions>
                </div>
                <!-- End tab Suggestions  -->
                <div ng-show="selectedIndex == 3">
                    <notes class="row clearfix" style="padding:20px 0"></notes>
                </div>
                <!-- End tab Notes  -->
            </div>
            <!--  End Wrapper side menu  -->
        </md-content>
        <!-- End Content Vacancy side menu  -->
    </div>
    <!-- Vacancy side menu  -->
</div>
