$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

// Colors
$blue: #00b9e8;
$green: #8bc34a;
$red: #f15f4c;
$gray: #4b494f;
$lightgray: #E1E1E1;
.col-centered {
    margin: 0 auto;
    float: none;
}

.label-red {
    color: $red;
}

.separator {
    margin: 10px auto;
    height: 1px;
    background: rgba(0, 0, 0, 0.05);
}

.section {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.02);
    margin: 10px auto;
}

.section-flow {
    margin: 0 auto;
    margin-top: -10px;
    padding: 10px !important;
}

.section-edit {
    padding-bottom: 0 !important;
}

md-checkbox {
    margin: 0 !important;
}

.add-flow-btn {
    margin-bottom: 20px;
}

.section-flow span {
    margin-top: 5px;
}

.section .vacancy-heading-inner {
    margin: 0;
    font-size: 18px;
}

div.tags {
    margin: 30px auto;
}

div.tags a {
    background: $gray;
    color: #fff;
    width: auto !important;
    float: left;
    border-radius: 2px;
    padding: 2px 10px;
    font-size: 10px;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 5px;
}

div.tags a:hover {
    color: #fff;
    text-decoration: none;
    cursor: default;
}

div.tags a > button {
    background: transparent;
    border: none;
    color: #fff;
    padding: 2px 10px 1px 10px;
    font-size: 10px;
}

.no-tags {
    background: rgba(0, 0, 0, 0.05) !important;
    color: #000 !important;
}

.margin-t-20 {
    margin-top: 20px;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.margin-t-10 {
    margin-top: 10px;
}

.margin-b-10 {
    margin-bottom: 10px;
}
/*
 * General styles
 * 
 * COMMENTS
 * 
 *
 * 
 */

body,
html {
    background: $lightgray;
}

.main {
    background: $lightgray;
    margin-top: -20px !important;
}

.header {
    margin: 0;
    background: #fff;
}

.row {
    margin: 0 !important;
}

.wrapper-header {
    width: 95%;
}

.wrapper-sidemenu {
    padding-bottom: 30px;
}

.progress {
    background: $green !important;
}

.progress-details {
    background: $red !important;
}

.progress .indeterminate {
    background: #fff !important;
}

.wrapper-header a,
.wrapper-sidemenu a {
    text-decoration: none;
    outline: 0;
    color: $red;
    display: block;
    padding: 20px 30px;
    width: 100%;
}
/*
 * Candidate dashboard tab [view] styles
 * 
 * COMMENTS
 * 
 *
 * 
 */

.hide {
    display: none;
}

.card {
    box-shadow: none !important;
    margin: 0 auto !important;
    background: transparent !important;
    padding: 10px;
    overflow: none !important;
}

.sideView {
    margin-top: 18px;
}

.card-content {
    background: #fff;
    padding: 20px 15px;
    height: 300px;
    position: relative;
    border-radius: 2px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.card-content {
    font-weight: 600;
}

.card-full-height {
    margin: 10px auto !important;
    height: auto;
}

.name span {
    background: transparent;
    color: $gray;
    padding: 20px 20px;
    font-size: 1em;
    border-radius: 2px;
}

.date {
    position: absolute;
    bottom: 10px;
    margin-top: 30px;
    font-size: 12px;
}

.archive-warn-wrapper {
    margin-top: 10%;
}

.archive-warn-wrapper i {
    font-size: 32px;
    color: $red;
    margin-bottom: 20px;
}

.desc {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px
}

.desc div:first-child {
    color: $red;
    font-weight: 600;
    font-size: 14px;
}

.text-cut {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    /* fallback */
    
    max-height: 50px;
    /* fallback */
    
    -webkit-line-clamp: 3;
    /* number of lines to show */
    
    -webkit-box-orient: vertical;
}
/*
 * List tab [view] styles
 * 
 * COMMENTS
 * 
 *
 * 
 */

span.badge {
    float: none !important;
    font-weight: 300;
    font-size: 0.8rem !important;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    margin-right: 5px !important;
}

.sideView span.badge {
    font-size: 0.9rem !important;
}

span.badge.open {
    background-color: $green;
}

span.badge.hot {
    margin-top: 5px;
    background-color: $red;
}

span.badge.open,
span.badge.hot {
    color: #fff !important;
}

.card-content span.badge {
    padding: 5px 10px !important;
    font-weight: 600;
}

span.badge.new:after {
    content: " new";
}

.card-content .badge {
    margin-left: 10px;
}

.card-num {
    font-size: 18px;
}

.numberCircle {
    border-radius: 50%;
    background: red;
    padding: 5px;
    color: #fff;
}

.tableMaterial {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
    padding: 10px;
}

.table > thead > tr > th {
    border-bottom: none;
}

.button-dash {
    color: $red !important;
}

.button-text-white {
    color: #fff !important;
}

.button-upload-cv {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.wrapper-dashboard {
    background: #fff;
    padding-top: 60px !important;
}

.name {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.search {
    margin: -20px !important;
    padding: 0;
    margin-right: 40px !important
}

.heading-vacancy-side {
    color: #fff;
}

.heading-add-item {
    color: $red !important;
}
/*
 * Suggestion styles
 * 
 * COMMENTS
 * 
 *
 * 
 */

.suggestions-candidate {
    padding: 10px;
    margin: 10px auto;
    border: 1px solid $red;
}

.section-suggestions {
    color: #fff !important;
    padding-top: 10px !important;
    padding-bottom: 30px !important;
}

.suggestion-Interview {
    background: $red;
}

.suggestion-Offer {
    background: $red;
}

.suggestion-Rejected {
    background: $gray;
}

.suggestion-Hired {
    background: $green;
}

.button-comment-suggestions {
    font-size: 10px !important;
    margin-top: -5px !important;
}

.labelHeading {
    font-size: 18px !important;
}
/*
 * Flow tab styles
 * 
 * COMMENTS
 * 
 *
 * 
 */

.flow-candidate-name {
    color: $gray
}

.comment-input {
    width: 80% !important;
    margin: 0 auto !important;
    float: none !important;
    margin-top: 20px;
}

.selected {
    border: 3px solid $red;
    border-radius: 3px;
}

.quick-actions-vacancy,
.quick-actions-vacancy li {
    margin: 0;
    padding: 0
}

.quick-actions-vacancy {
    margin: -10px -15px 0 0;
}

.quick-actions-vacancy li {
    margin: 12px 0;
}

.quick-actions-vacancy a {
    padding: 5px 8px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1) !important;
    background: rgba(0, 0, 0, 0.1) !important;
    border-radius: 3px !important;
    color: #000 !important;
    font-size: 12px !important
}

.quick-actions-vacancy .archive {
    background: $red !important;
    color: #fff !important;
}

.quick-actions-vacancy a:hover {
    text-decoration: none !important;
}
/*
 * Angular material styles
 * 
 * COMMENTS
 * 
 * Custom styles for Angular Material
 * 
 */

md-tab {
    padding: 20px 0;
}

md-toolbar div {
    background: $gray;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

md-toolbar.md-default-theme {
    background: transparent;
}

.md-button.md-default-theme[disabled],
.md-button.md-default-theme.md-raised[disabled],
.md-button.md-default-theme.md-fab[disabled] {
    background-color: rgba(0, 0, 0, 0.26) !important;
}

md-select {
    margin-top: -5px !important;
}

md-select span {
    color: #000;
}

md-input-container {
    padding-bottom: 10px !important;
}

.md-button.md-fab {
    width: 30px !important;
    height: 30px !important;
    padding: 0 !important;
}

.md-button.md-fab md-icon {
    margin-top: -4px !important;
    margin-right: -1px !important;
}

.md-button.md-default-theme.main,
.md-button.md-default-theme.main,
.md-button.md-default-theme.main,
.md-button.md-default-theme.main {
    color: #140953 !important;
    margin-top: 0;
}

.md-button.md-default-theme.main {
    background-color: transparent !important;
    border: 1px solid #140953 !important;
}

.md-button.md-default-theme.flow,
.md-button.md-default-theme.flow,
.md-button.md-default-theme.flow,
.md-button.md-default-theme.flow {
    color: #228128 !important;
}

.md-button.md-default-theme.flow {
    background-color: transparent !important;
    border: 1px solid #228128 !important;
}

.md-button.md-default-theme.note,
.md-button.md-default-theme.note,
.md-button.md-default-theme.note,
.md-button.md-default-theme.note {
    color: #F77000 !important;
}

.md-button.md-default-theme.note {
    background-color: transparent !important;
    border: 1px solid #F77000 !important;
}

.md-button.md-default-theme.archive,
.md-button.md-default-theme.archive,
.md-button.md-default-theme.archive,
.md-button.md-default-theme.archive {
    color: $red !important;
}

.md-button.md-default-theme.archive {
    background-color: transparent !important;
    border: 1px solid $red !important;
}

.md-button.md-default-theme {
    margin: 0 2px !important
}

md-tooltip {
    margin-top: 100px !important;
}
