<div class="card clearfix" ng-class="currentVacancy ? 'col-lg-6' : 'col-lg-3'"  >
<div class="card-content clearfix " ng-click="selectVacancy(vacancy)" ng-class="vacancy.id == currentVacancy.id ? 'selected' :'default'">
   <div ng-hide="vacancy.allowArchive == true"> <!-- Default card content -->
      <div class="clearfix row">
         <div class="col-lg-3 pull-left" style="padding:0"><span class="card-num
            ">{{vacancy.id}}</span><span ng-if="vacancy.hot == true" class="badge hot">HOT</span>
         </div>
         <div class="col-lg-9 pull-right clearfix" style="padding:0">
            <md-button ng-click="quickAction('select', vacancy, 0)" class="md-fab main md-accent pull-right" aria-label="refresh">
               <md-tooltip>
                  Main
               </md-tooltip>
               M
               </md-icon>
            </md-button>
            <md-button ng-click="quickAction('select', vacancy, 1)" class="md-fab flow md-accent pull-right" aria-label="refresh">
               <md-tooltip>
                  Flow
               </md-tooltip>
               F
               </md-icon>
            </md-button>
            <md-button ng-click="quickAction('select', vacancy, 3)" class="md-fab note md-primary pull-right" aria-label="refresh">
               <md-tooltip>
                  Note
               </md-tooltip>
               N
               </md-icon>
            </md-button>
            <md-button ng-click="quickAction('archive', vacancy)" class="md-fab archive md-primary pull-right" aria-label="refresh">
               <md-tooltip>
                  Archive
               </md-tooltip>
               A
               </md-icon>
            </md-button>
         </div>
      </div>
      <div class="name row">{{vacancy.name}}</div>
      <div class="desc row margin-t-10">
         <div class="margin-t-10 margin-b-10">Description :</div>
         <div class="text-cut">{{vacancy.requirements}}</div>
      </div>
      <h6>Tags:</h6>
    <tag-list tags="vacancy.tags"> </tag-list>
      <div class="date bottom-inner
         ">{{vacancy.createTime|date:'medium'}}</div>
   </div><!-- End Default card content -->
   <div ng-show="vacancy.allowArchive == true" class="text-center col-centered col-lg-11 archive-warn-wrapper
      "><!-- Archive card content -->
      <i class="glyphicon glyphicon-trash text-center"></i>
      <p>Are you sure that you want
         <br>to archive this vacancy ?
      </p>
      <div class="margin-t-20">
         <md-button class="md-raised md-warn inline" ng-click="archiveVacancy(vacancy)">ARCHIVE</md-button>
         <md-button ng-click="quickAction('unarchive', vacancy)">UNDO</md-button>
      </div>
   </div><!-- End Archive card content -->
</div>