/*
 * Angular material styles
 * 
 * COMMENTS
 * 
 * Custom styles for Angular Material
 * 
 */

md-tab {
    padding: 20px 0;
}

md-toolbar div {
    background: $gray;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

md-toolbar.md-default-theme {
    background: transparent;
}

.md-button.md-default-theme[disabled],
.md-button.md-default-theme.md-raised[disabled],
.md-button.md-default-theme.md-fab[disabled] {
    background-color: rgba(0, 0, 0, 0.26) !important;
}

md-select {
    margin-top: -5px !important;
}

md-select span {
    color: #000;
}

md-input-container {
    padding-bottom: 10px !important;
}

.md-button.md-fab {
    width: 30px !important;
    height: 30px !important;
    padding: 0 !important;
}

.md-button.md-fab md-icon {
    margin-top: -4px !important;
    margin-right: -1px !important;
}

.md-button.md-default-theme.main,
.md-button.md-default-theme.main,
.md-button.md-default-theme.main,
.md-button.md-default-theme.main {
    color: #140953 !important;
    margin-top: 0;
}

.md-button.md-default-theme.main {
    background-color: transparent !important;
    border: 1px solid #140953 !important;
}

.md-button.md-default-theme.flow,
.md-button.md-default-theme.flow,
.md-button.md-default-theme.flow,
.md-button.md-default-theme.flow {
    color: #228128 !important;
}

.md-button.md-default-theme.flow {
    background-color: transparent !important;
    border: 1px solid #228128 !important;
}

.md-button.md-default-theme.note,
.md-button.md-default-theme.note,
.md-button.md-default-theme.note,
.md-button.md-default-theme.note {
    color: #F77000 !important;
}

.md-button.md-default-theme.note {
    background-color: transparent !important;
    border: 1px solid #F77000 !important;
}

.md-button.md-default-theme.archive,
.md-button.md-default-theme.archive,
.md-button.md-default-theme.archive,
.md-button.md-default-theme.archive {
    color: $red !important;
}

.md-button.md-default-theme.archive {
    background-color: transparent !important;
    border: 1px solid $red !important;
}

.md-button.md-default-theme {
    margin: 0 2px !important
}

md-tooltip {
    margin-top: 100px !important;
}

md-checkbox {
    margin: 0 !important;
}
