span.badge {
    float: none !important;
    font-weight: 600;
    font-size: 0.8em !important;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    margin-right: 5px !important;
}

.sideView span.badge {
    font-size: 0.9rem !important;
}

span.badge.open {
    background-color: $green;
}

span.badge.hot {
    margin-top: 5px;
    background-color: $red;
}

span.badge.open,
span.badge.hot {
    color: #fff !important;
}

.card-content span.badge {
    padding: 5px 10px !important;
    font-weight: 600;
}

span.badge.new:after {
    content: " new";
}
