.recrutory-card {
    height: 300px;
    margin: 10px 0;
    position: relative;
    border: none;
    cursor: default;
    .content {
        background: $light;
        border-radius: 5px;
        height: inherit;
        padding: 15px 10px 5px 10px;
        .action-btns {
            margin-top: 5px;
            padding: 0;
            font-size: 14px;
            border-radius: 3px;
            div {
                padding: 5px 0;
                color: #fff;
            }
            .hot {
                background: $red;
            }
            .number {
                background: $gray;
            }
        }
        .name {
            font-weight: 600;
        }
        label {
            color: $red;
            font-size: 12px;
            font-weight: 400;
            margin: 10px auto;
        }
        .date {
            position: absolute;
            bottom: 10px;
            font-size: 14px;
            font-weight: 600;
        }
    }
}

.selected {
    border: 3px solid $red;
}
