.recrutory-card {
    height: 300px;
    outline: 1px solid $red;
    margin: 20px 0;
    .content {
        background: $light;
        border-radius: 5px;
        padding: 25px;
    }
}

// .card {
// }
// .card- {
//     background: #fff;
//     padding: 20px 15px;
//     height: 300px;
//     position: relative;
//     border-radius: 2px !important;
//     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
// }
// .card-content {
//     font-weight: 600;
// }
// .card-full-height {
//     margin: 10px auto !important;
//     height: auto;
// }
// .name span {
//     background: transparent;
//     color: $gray;
//     padding: 20px 20px;
//     font-size: 1em;
//     border-radius: 2px;
// }
// .date {
//     position: absolute;
//     bottom: 10px;
//     margin-top: 30px;
//     font-size: 12px;
// }
// .archive-warn-wrapper {
//     margin-top: 10%;
// }
// .archive-warn-wrapper i {
//     font-size: 32px;
//     color: $red;
//     margin-bottom: 20px;
// }
// .desc {
//     font-weight: 300;
//     font-size: 13px;
//     line-height: 15px
// }
// .desc div:first-child {
//     color: $red;
//     font-weight: 600;
//     font-size: 14px;
// }
// .text-cut {
//     overflow: hidden;
//     text-overflow: ellipsis;
//     display: -webkit-box;
//     line-height: 16px;
//     /* fallback */
//     max-height: 50px;
//     /* fallback */
//     -webkit-line-clamp: 3;
//     /* number of lines to show */
//     -webkit-box-orient: vertical;
// }
// .card-content .badge {
//     margin-left: 10px;
// }
// .card-num {
//     font-size: 18px;
// }
