.closure-block {
    padding: 10px 0;
    border-top: 2px solid $gray;
    border-left: 2px solid $gray;
    border-right: 2px solid $gray;
    border-bottom-left-radius: none;
    border-bottom-right-radius: none;
}

.closure-block .label {
    margin-top: 5px;
    color: #000;
    font-size: 14px;
}

.fields-wrapper {
    margin-top: -12px;
    border-bottom: 2px solid $gray;
    border-left: 2px solid $gray;
    border-right: 2px solid $gray;
    max-height: auto;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

.border-visible {
    border-color: $red;
}

.hidden-fields {
    max-height: 0;
}
