.suggestions-candidate {
    padding: 10px;
    margin: 10px auto;
    border: 1px solid $red;
}

.section-suggestions {
    color: #fff !important;
    padding-top: 10px !important;
    padding-bottom: 30px !important;
}

.suggestion-Interview {
    background: $red;
}

.suggestion-Offer {
    background: $red;
}

.suggestion-Rejected {
    background: $gray;
}

.suggestion-Hired {
    background: $green;
}

.button-comment-suggestions {
    font-size: 10px !important;
    margin-top: -5px !important;
}

.labelHeading {
    font-size: 18px !important;
}
