.no-tags {
    background: rgba(0, 0, 0, 0.05) !important;
    color: #000 !important;
}

.margin-t-20 {
    margin-top: 20px;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.margin-t-10 {
    margin-top: 10px;
}

.margin-b-10 {
    margin-bottom: 10px;
}

.col-centered {
    margin: 0 auto;
    float: none;
}

.separator {
    margin: 10px auto;
    height: 1px;
    background: rgba(0, 0, 0, 0.05);
}
