<div>
    <div class="content clearfix" ng-click="selectCandidate(candidate)" ng-class="candidate.id == currentCandidate.id ? 'selected' :'default'">
        <div ng-hide="candidate.allowArchive == true">
            <div class="clearfix row">
                <div class="col-lg-3 pull-left"><span class="number">{{candidate.id}}</span>
                </div>
                <div class="col-lg-9 pull-right clearfix" style="padding:0">
                    <md-button ng-click="quickAction.main(candidate)" class="md-fab main md-accent pull-right" aria-label="refresh">
                        <md-tooltip>
                            Main
                        </md-tooltip>
                        M
                        </md-icon>
                    </md-button>
                    <md-button ng-click="quickAction.flow(candidate)" class="md-fab flow md-accent pull-right" aria-label="refresh">
                        <md-tooltip>
                            Flow
                        </md-tooltip>
                        F
                        </md-icon>
                    </md-button>
                    <md-button ng-click="quickAction.notes(candidate)" class="md-fab note md-primary pull-right" aria-label="refresh">
                        <md-tooltip>
                            Note
                        </md-tooltip>
                        N
                        </md-icon>
                    </md-button>
                </div>
            </div>
            <div class="name row">{{candidate.summaryCard.predefinedFields.NAME_SURNAME.fieldValue}}</div>
            <h6>Tags:</h6>
            <tag-list tags="candidate.tags"></tag-list>
            <div class="date bottom-inner">{{candidate.createTime|date:'medium'}}</div>
        </div>
        <div ng-show="vacancy.allowArchive == true" class="text-center col-centered col-lg-11 archive-warn-wrapper">
            <i class="glyphicon glyphicon-trash text-center"></i>
            <p>Are you sure that you want
                <br>to archive this candidate ?
            </p>
            <div class="margin-t-20">
                <md-button class="md-raised md-warn inline" ng-click="archiveCandidate(candidate)">ARCHIVE</md-button>
                <md-button ng-click="quickAction('unarchive', candidate)">UNDO</md-button>
            </div>
        </div>
        <!-- End Archive card content -->
    </div>
</div>
