<!doctype html>
<html class="no-js" ng-app="kandidatoApp">

<head>
    <meta charset="utf-8">
    <title>Recrutory</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <!-- endbuild -->
  
</head>

<body ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="row header" >
        <div ng-show="loader" class="progress" style="margin:0px">
            <div class="indeterminate"></div>
        </div>
        <!-- Add your site or application content here -->
        <div class="wrapper-header col-centered">
            <md-tabs md-selected="selectedIndexMain" flex>
                <md-tab ng-repeat="tab in tabs">
                    <a ng-if="tab.type == 'image'" href="#/{{tab.route}}"><img src="{{tab.heading}}" style="width:100%"></a>
                    <a ng-if="tab.type == 'link'" href="#/{{tab.route}}">{{tab.heading}}</a>
                </md-tab>
            </md-tabs>
        </div>
        <nav class="navbar navbar-default" style="margin:0">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav navbar-right">
                        <li><input class="input-filter-nav" placeholder="Search" ng-model="filterValue"></li>
                        <li><a href="/#/addVacancy">Add vacancy</a></li>
                        <li><a href="/#/addCandidate">Add candidate</a></li>
                        <li><a href="/#/uploadCV">Upload CV</a></li>
                    </ul>

                </div>
                <!--/.nav-collapse -->
                <!--/.container-fluid -->
        </nav>
        </div>
        <div class="row main col-centered" style="margin-top:100px !important">
            <div ng-view=""></div>
        </div>
    </div>
    <!-- Google Analytics should be placed here -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <!-- Factory -->
    <script src="scripts/factory/apidatafactory.js"></script>
    <!-- Routing -->
    <script src="scripts/routing/routeProvider.js"></script>
    <!-- Config -->
    <script src="scripts/config/configColorsMaterial.js"></script>
    <!-- Directives -->
    <script src="scripts/directives/vacancyCard.js"></script>
    <script src="scripts/directives/tagList.js"></script>
    <!-- Controllers -->
    <script src="scripts/controllers/candidateDashController.js"></script>
    <script src="scripts/controllers/candidateDetailsController.js"></script>
    <script src="scripts/controllers/aboutController.js"></script>
    <script src="scripts/controllers/mainController.js"></script>
    <script src="scripts/controllers/listVacancyController.js"></script>
    <script src="scripts/controllers/dashboardVacancyController.js"></script>
    <script src="scripts/controllers/addVacancyController.js"></script>
    <script src="scripts/controllers/addCVController.js"></script>
    <script src="scripts/controllers/addCandidateController.js"></script>
    <script src="scripts/controllers/suggestionsVacancyController.js"></script>
    <!-- Utils -->
    <script src="scripts/utils.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>
    <!-- endbuild -->
    <!-- Utils -->
    <script type="text/javascript" src="http://underscorejs.org/underscore.js"></script>
</body>

</html>
