<div>
    <div class="text-center margin-t-20">
        <md-button class="md-raised md-accent button-text-white inline add-flow-btn" ng-click='sendFlow()' ng-disabled="flowData.length == 0"><i src="glyphicon glyphicon-upload"> </i>Add to flow</md-button>
    </div>
    <md-input-container class="col-lg-4 col-centered">
        <label>Filter</label>
        <input ng-model="filterSuggestions">
    </md-input-container>
    <div class="col-centered col-lg-11 margin-b-20 margin-t-20 label-red">Suggested :</div>
    <div ng-repeat="candidate in flowSuggested | filter:filterSuggestions" class="col-centered section col-lg-11 section-suggestions">
        <div class="col-lg-1">
            <md-checkbox ng-model="flowaddModel[candidate.id]" ng-change="!flowaddModel[candidate.id]" aria-label="Checkbox 1"></md-checkbox>
        </div>
        <div class="col-lg-4 flow-candidate-name">Candidate [ {{candidate.id}} ]</div>
    </div>
    <div class="text-center">
        <md-button class="inline" ng-click="getSuggestions(suggestedPage,availablePage,'suggested')">More</md-button>
    </div>
    <div class="col-centered col-lg-11 margin-b-20 margin-t-20 label-red">Available :</div>
    <div ng-repeat="candidate in flowAvailable | filter:filterSuggestions" class="col-centered section col-lg-11 section-suggestions">
        <div class="col-lg-1">
            <md-checkbox ng-model="flowaddModel[candidate.id]" aria-label="Checkbox 1"></md-checkbox>
        </div>
        <div class="col-lg-4 flow-candidate-name">Candidate [ {{candidate.id}} ]</div>
    </div>
    <div class="text-center">
        <md-button class="inline" ng-click="getSuggestions(suggestedPage,availablePage,'available')">More</md-button>
    </div>
</div>
