<div>
    <div class="col-centered col-lg-11 clearfix">
        <div class="text-center margin-t-20 margin-b-20">
            <md-button ng-hide="addProgress" class="md-raised md-accent button-text-white inline add-flow-btn" ng-click='addProgress = true'><i src="glyphicon glyphicon-upload"> </i> Add Field </md-button>
        </div>
    </div>
    <div class="row newField">
        <div class="col-sm-11 col-centered" ng-show="addProgress">
            <div class="col-lg-6" mass-autocomplete>
                <md-input-container>
                    <label contentEditable="true">Field text</label>
                    <input type="text" ng-model="newField.type.name" mass-autocomplete-item="autocomplete_options">
                </md-input-container>
            </div>
            <div class="col-lg-6">
                <md-input-container>
                    <label contentEditable="true">Field text</label>
                    <input type="text" ng-model="newField.fieldValue">
                </md-input-container>
            </div>
            <div class="col-lg-6">
                <md-checkbox ng-model="newField.type.prime" aria-label="prime">
                    Prime
                </md-checkbox>
            </div>
            <div class="col-lg-6">
                <md-button class="md-raised md-accent button-text-white inline add-flow-btn" ng-click='customField.save()'><i src="glyphicon glyphicon-upload"> </i> Save </md-button>
                <md-button class="md-raised md-accent button-text-white inline add-flow-btn" ng-click='customField.cancel()'><i src="glyphicon glyphicon-upload"> </i> Cancel </md-button>
            </div>
        </div>
    </div>
    <div class="col-centered section col-lg-11 clearfix closure-block" ng-class="hidePredefined ? '' : 'border-visible'" style="margin-top:20px">
        <div class="col-lg-6 text-center label">Predefined</div>
        <div class="col-lg-6 text-center">
            <md-button ng-click="hidePredefined = !hidePredefined">{{hidePredefined ? 'SHOW' : 'HIDE'}}</md-button>
        </div>
    </div>
    <div ng-class="hidePredefined ? 'hidden-fields' : 'border-visible'" class="fields-wrapper col-lg-11 col-centered">
        <div class="col-centered section-edit col-lg-11 margin-t-20 ">
            <md-input-container ng-repeat="field in currentCandidate.summaryCard.predefinedFields">
                <label class="labelHeading">{{field.type.name}}</label>
                <input ng-blur="updateField(field)" ng-focus="customField.set(field)" ng-model="field.fieldValue">
            </md-input-container>
        </div>
    </div>
    <div class="col-centered section col-lg-11 clearfix closure-block" ng-class="hidePrime ? '' : 'border-visible'">
        <div class="col-lg-6 text-center label">Prime</div>
        <div class="col-lg-6 text-center">
            <md-button ng-click="hidePrime = !hidePrime">{{hidePrime ? 'SHOW' : 'HIDE'}}</md-button>
        </div>
    </div>
    <div ng-class="hidePrime ? 'hidden-fields' : 'border-visible'" class="fields-wrapper col-lg-11 col-centered">
        <div class="col-centered section-edit col-lg-11 margin-t-20 ">
            <md-input-container ng-repeat="field in currentCandidate.summaryCard.customFields" ng-if="field.type.prime">
                <label class="labelHeading">{{field.type.name}}</label>
                <input ng-blur="updateField(field)" ng-focus="customField.set(field)" ng-model="field.fieldValue">
            </md-input-container>
        </div>
    </div>
    <div class="col-centered section col-lg-11 clearfix closure-block" ng-class="hideCustom ? '' : 'border-visible'">
        <div class="col-lg-6 text-center label">Common</div>
        <div class="col-lg-6 text-center">
            <md-button ng-click="hideCustom = !hideCustom">{{hideCustom ? 'SHOW' : 'HIDE'}}</md-button>
        </div>
    </div>
    <div ng-class="hideCustom ? 'hidden-fields' : 'border-visible'" class="fields-wrapper col-lg-11 col-centered">
        <div class="col-centered section-edit col-lg-11 margin-t-20 ">
            <md-input-container ng-repeat="field in currentCandidate.summaryCard.customFields" ng-if="field.type.prime == false">
                <label class="labelHeading">{{field.type.name}}</label>
                <input ng-blur="updateField(field)" ng-focus="customField.set(field)" ng-model="field.fieldValue">
            </md-input-container>
        </div>
    </div>
    <div class="col-centered separator col-lg-12"></div>
    <div class="col-centered section col-lg-11 clearfix">
        <h5 class="vacancy-heading-inner">Tags</h5>
        <div class="tags clearfix" ng-if="currentCandidateData.tags.length > 0">
            <a ng-repeat="tag in currentCandidateData.tags" ng-if="currentCandidateData.tags.length > 0" ng-click="tags.delete(tag)">{{tag.keyword}}<button><i class="glyphicon glyphicon-remove"></i></button></a>
        </div>
        <div class="tags clearfix" ng-show="currentCandidateData.tags.length == 0">
            <a class="no-tags
                     ">Vacancy has no tags</a>
        </div>
        <div class="col-centered section-edit col-lg-11">
            <md-input-container>
                <label class="labelHeading">Type tag name and hit Enter, Space or type comma to add it.</label>
                <input ng-keyup="$event.keyCode == 13 || $event.keyCode == 32 || $event.keyCode == 188? tags.add() : null" ng-model="tagEdit
                           ">
            </md-input-container>
        </div>
    </div>
</div>
