<div>
    <div class="text-center margin-t-20">
        <md-button class="md-raised md-accent button-text-white inline add-flow-btn" ng-click='selectedIndex = 2'><i src="glyphicon glyphicon-upload"> </i> Add Flow</md-button>
    </div>
    <div ng-repeat="item in vacanciesFlowData" class="col-centered section col-lg-11 section-suggestions">
        <div class="col-lg-4 flow-candidate-name">Candidate [ {{item.id}} ]</div>
        <div class="col-lg-4">
            <md-select placeholder="{{item.actions[item.actions.length - 1].state}}" ng-model="actionsVal[item.candidate.id]">
                <md-option ng-repeat="action in candidateActions" value="{{action.name}}">{{action.name}}</md-option>
            </md-select>
        </div>
        <div class="col-lg-4 text-right">
            <md-button class="md-raised button-comment-suggestions inline" ng-click="editDescription(item.id)">Description
            </md-button>
        </div>
        <div class="row" ng-show="item.id == currentCommentEditId">
            <md-input-container class="comment-input">
                <label>Description</label>
                <input ng-model="item.actions[item.actions.length - 1].description">
            </md-input-container>
        </div>
    </div>
</div>
