<div class="col-lg-6 col-centered">
    <h5 class="text-center heading-add-item">Add new candidate</h5>
    <h6 class="margin-t-20 margin-b-20
">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin cursus ante. Praesent faucibus lacus ornare nunc aliquet luctus. Etiam vulputate eu tellus quis cursus. Donec arcu metus, pulvinar finibus magna quis, fringilla dapibus nisl. Donec nec nisl eu arcu hendrerit tempor. </h6>
    <div class="col-lg-7 col-centered margin-t-20">
        <md-input-container>
            <label>Name</label>
            <input>
        </md-input-container>
        <md-input-container>
            <label>Email</label>
            <input>
        </md-input-container>
        <md-input-container>
            <label>More</label>
            <input>
        </md-input-container>
    </div>
    <div class="text-center margin-t-20">
        <md-button class="md-raised md-accent button-text-white
 inline
" ng-click='route("/addVacancy")'><i src="glyphicon glyphicon-upload"> </i> Add candidate</md-button>
    </div>
</div>
