<div class="col-lg-6 col-centered">
    <h5 class="text-center heading-add-item">Upload candidates CV</h5>
    <h6 class="margin-t-20 margin-b-20
">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin cursus ante. Praesent faucibus lacus ornare nunc aliquet luctus. Etiam vulputate eu tellus quis cursus. Donec arcu metus, pulvinar finibus magna quis, fringilla dapibus nisl. Donec nec nisl eu arcu hendrerit tempor. </h6>
    <div class="text-center margin-t-20">
        <md-button class="md-raised md-accent button-text-white
 inline
" ng-click='route("/addVacancy")'><i src="glyphicon glyphicon-upload"> </i> Select and upload</md-button>
    </div>
</div>
