<div ng-class="currentCandidate ? 'col-lg-8' : 'row'">
    <div class="card " ng-class="currentCandidate ? 'col-lg-4' : 'col-lg-3'" ng-repeat="candidate in candidatesData | filter:filterValue" ng-click="selectCandidate(candidate)">
        <div class="card-content clearfix ">
            <div class="name"><span>{{candidate.timelineRecords[0].fields[0].fieldValue}}</span></div>
            <div class="tags row clearfix" ng-if="candidate.tags.length > 0">
                <a ng-repeat="tag in candidate.tags" ng-if="candidate.tags.length > 0">{{tag.keyword}}</a>
            </div>
            <div class="tags row clearfix" ng-if="candidate.tags.length == 0">
                <a class="no-tags
">Vacancy has no tags</a>
            </div>
            <div class="date">{{candidate.createTime|date:'medium'}}</div>
        </div>
    </div>
</div>
<div ng-show="currentCandidate" class="clearfix sideView" ng-class="currentCandidate ? 'col-lg-4' : 'hide'">
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <h3>
        <span>{{currentCandidate.timelineRecords[0].fields[0].fieldValue}}</span>
      </h3>
        </div>
    </md-toolbar>
    <md-content>
        <div class="wrapper-sidemenu col-centered">
            <div>
                <md-tabs md-selected="selectedIndex" flex>
                    <md-tab ng-repeat="tab in tabsCandidateDetails"><a href='javascript:void(0)'>{{tab.heading}}</a> </md-tab>
                </md-tabs>
                <div ng-show="selectedIndex == 0">
                    <md-input-container>
                        <label>Name</label>
                        <input ng-model="currentCandidateData.summaryCard.predefinedFields.NAME_SURNAME.fieldValue">
                    </md-input-container>
                    <md-input-container>
                        <label>Email</label>
                        <input ng-model="currentCandidateData.summaryCard.predefinedFields.EMAIL.fieldValue">
                    </md-input-container>
                    <md-input-container>
                        <label>Skype</label>
                        <input ng-model="currentCandidateData.summaryCard.predefinedFields.SKYPE.fieldValue">
                    </md-input-container>
                    <md-input-container>
                        <label>Phone</label>
                        <input ng-model="currentCandidateData.summaryCard.predefinedFields.PHONE.fieldValue">
                    </md-input-container>
                    <md-input-container>
                        <label>Address</label>
                        <input ng-model="currentCandidateData.summaryCard.predefinedFields.ADDRESS.fieldValue">
                    </md-input-container>
                    <div class="col-centered section col-lg-11 clearfix">
                        <h5 class="vacancy-heading-inner">Tags</h5>
                        <div class="tags clearfix" ng-if="currentCandidateData
.tags.length > 0">
                            <a ng-repeat="tag in currentCandidateData.tags" ng-if="currentCandidateData.tags.length > 0">{{tag.keyword}}<button ng-click="removeTag(tag.keyword)"><i class="glyphicon glyphicon-remove"></i></button></a>
                        </div>
                        <div class="tags clearfix" ng-if="currentCandidateData.tags.length == 0">
                            <a class="no-tags
">Vacancy has no tags</a>
                        </div>
                    </div>
                    <md-input-container>
                        <label>Add tag</label>
                        <input ng-model="tagInput" ng-keypress="($event.which === 13)?addCandidateTags():0">
                    </md-input-container>
                </div>
                <div ng-show="selectedIndex == 1">2</div>
                <div ng-show="selectedIndex == 2">3</div>
            </div>
    </md-content>
    </div>
    <style type="text/css">
    .tag-editable span {
        font-size: 12px;
        padding: 5px 10px;
    }
    
    .tag-editable button {
        margin: 0 10px;
        padding: 0;
        color: #fff;
        font-size: 12px;
        border: none;
        background: transparent;
    }
    </style>
