<div class="row">
    <div ng-class="currentVacancy ? 'col-lg-6' : 'row'">
        <div class="card " ng-class="currentVacancy ? 'col-lg-4' : 'col-lg-3'" ng-repeat="vacancy in vacanciesData | filter:filterValue


" ng-click="selectVacancy(vacancy
)">
            <div class="card-content clearfix ">
                <div><span class="badge open">{{vacancy.state}}</span><span ng-if="vacancy.hot == true" class="badge hot">HOT</span></div>
                <div class="name">{{vacancy.name}}</div>
                <div class="tags row clearfix" ng-if="vacancy.tags.length > 0">
                    <a ng-repeat="tag in vacancy.tags" ng-if="vacancy.tags.length > 0">{{tag.keyword}}</a>
                </div>
                <div class="tags row clearfix" ng-if="vacancy.tags.length == 0">
                    <a class="no-tags
">Vacancy has no tags</a>
                </div>
                <div class="date bottom-inner
">{{vacancy.createTime|date:'medium'}}</div>
            </div>
        </div>
    </div>
    <div ng-show="currentVacancy" class="clearfix sideView" ng-class="currentVacancy ? 'col-lg-6' : 'hide'">
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools clearfix">
                <div class="col-lg-10"><span class="heading-vacancy-side
">{{currentVacancy.name}}</span></div>
                <div class="col-lg-2"><span class="badge open">{{currentVacancy.state}}</span></div>
            </div>
        </md-toolbar>
        <md-content>
            <div class="wrapper-header col-centered">
                <div>
                    <md-tabs md-selected="selectedIndex" flex>
                        <md-tab ng-repeat="tab in tabsVacancies"><a href='javascript:void(0)'>{{tab.heading}}</a> </md-tab>
                    </md-tabs>
                    <div ng-show="selectedIndex == 0">
                        <div class="col-centered section col-lg-11">
                            <h5 class="vacancy-heading-inner
">Requirements</h5>
                            <h6>{{currentVacancyData.name}}</h3>
                        </div>
                       <div class="col-centered separator col-lg-12"></div>
                        <div class="col-centered section col-lg-11">
                        <h5 class="vacancy-heading-inner">Description</h5>
                        <h6>{{currentVacancyData.state}}</h3>
                        </div>


                    <div class="col-centered section col-lg-11 clearfix">
<h5 class="vacancy-heading-inner">Tags</h5>
                        <div class="tags clearfix" ng-if="currentVacancyData.tags.length > 0">
                    <a ng-repeat="tag in currentVacancyData.tags" ng-if="currentVacancyData.tags.length > 0" ng-click="removeTag(tag.keyword)">{{tag.keyword}}<button><i class="glyphicon glyphicon-remove"></i></button></a>
                </div>

                <div class="tags clearfix" ng-if="currentVacancyData.tags.length == 0">
                    <a class="no-tags
">Vacancy has no tags</a>
                </div>

                        </div>




                    </div>
                    <div ng-show="selectedIndex == 1">
                            <div class="text-center
margin-t-20">
        <md-button class="md-raised md-accent button-text-white
 inline
" ng-click='selectedIndex = 2'><i src="glyphicon glyphicon-upload"> </i> Add flow</md-button>
    </div>
                    </div>
                    <div ng-show="selectedIndex == 2" ng-controller="suggestionsView">
                    <div ng-repeat="candidate in dataSuggectionsSimulated | orderBy:'-sortLevel'" class="col-centered section col-lg-11 section-suggestions suggestion-{{candidate.status}}">

 <div class="col-lg-4">{{candidate.name}}</div>
                            <div class="col-lg-4">{{candidate.status}}</div>
                            <div class="col-lg-4 text-right" ><md-button class="md-raised button-comment-suggestions inline
" ng-if="candidate.comment == false" ng-click="addComment
(candidate.name)">Add comment
</md-button><md-button class="md-raised button-comment-suggestions inline" ng-if="candidate.comment != false" ng-click="addComment
(candidate.name)">Show</md-button></div>                 
<div class="row" ng-show="candidate.addComment">  <md-input-container>
      <label>Comment</label>
      <input ng-model="candidate.commentTemp">
    </md-input-container></div>
       </div>

                    </div>
                </div>
        </md-content>
        <style type="text/css">
        .tag-editable span {
            font-size: 12px;
            padding: 5px 10px;
        }
        
        .tag-editable button {
            margin: 0 10px;
            padding: 0;
            color: #fff;
            font-size: 12px;
            border: none;
            background: transparent;
        }
        </style>
        </div>
    </div>
