<div class="row">
    <div ng-class="currentVacancy ? 'col-lg-6' : 'row'">
        <div class="card " ng-class="currentVacancy ? 'col-lg-6' : 'col-lg-3'" ng-repeat="vacancy in vacanciesData | filter:filterValue


">
            <div class="card-content clearfix " ng-click="selectVacancy(vacancy)" ng-class="vacancy.id == currentVacancy.id ? 'selected' :'default'">
                <!--   <ul class="pull-right quick-actions-vacancy">
                    <li class="clearfix"><a ng-click="quickAction('select',0)" class="pull-right" href="#">Main <i class="glyphicon glyphicon-trash"></i></a></li>
                    <li class="clearfix"><a ng-click="quickAction('select',1)" class="pull-right" href="#">Flow <i class="glyphicon glyphicon-trash"></i></a></li>
                    <li class="clearfix"><a ng-click="quickAction('delete',false)" class="pull-right archive" href="#">Archive <i class="glyphicon glyphicon-trash"></i></a></li>
                </ul> -->
                <div class="clearfix row">
                    <div class="col-lg-1 pull-left" style="padding:0"><span ng-if="vacancy.hot == true" class="badge hot">HOT</span></div>
                    <div class="col-lg-9 pull-right clearfix" style="padding:0">
                        <md-button ng-click="quickAction('select', vacancy, 1)" class="md-fab main md-accent pull-right" aria-label="refresh">
                            <md-tooltip>
                                Main
                            </md-tooltip>
                            <md-icon md-svg-src="images/icons/doc.svg" style="width: 18px; height: 18px;"></md-icon>
                            </md-icon>
                        </md-button>
                        <md-button ng-click="quickAction('select', vacancy, 1)" class="md-fab flow md-accent pull-right" aria-label="refresh">
                            <md-tooltip>
                                Flow
                            </md-tooltip>
                            <md-icon md-svg-src="images/icons/add.svg" style="width: 18px; height: 18px;"></md-icon>
                            </md-icon>
                        </md-button>
                        <md-button ng-click="quickAction('delete', vacancy)" class="md-fab note md-primary pull-right" aria-label="refresh">
                            <md-tooltip>
                                Note
                            </md-tooltip>
                            <md-icon md-svg-src="images/icons/edit.svg" style="width: 18px; height: 18px;"></md-icon>
                            </md-icon>
                        </md-button>
                        <md-button ng-click="quickAction('delete', vacancy)" class="md-fab archive md-primary pull-right" aria-label="refresh">
                            <md-tooltip>
                                Archive
                            </md-tooltip>
                            <md-icon md-svg-src="images/icons/delete.svg" style="width: 18px; height: 18px;"></md-icon>
                            </md-icon>
                        </md-button>
                    </div>
                </div>
                <div class="name row" style="">{{vacancy.name}}</div>
                <!--  -->
                <!-- 
 -->
                <h6>Tags:</h6>
                <div class="tags row clearfix" ng-if="vacancy.tags.length > 0">
                    <a ng-repeat="tag in vacancy.tags" ng-if="vacancy.tags.length > 0">{{tag.keyword}}</a>
                </div>
                <div class="tags row clearfix" ng-if="vacancy.tags.length == 0">
                    <a class="no-tags
">Vacancy has no tags</a>
                </div>
                <div class="date bottom-inner
">{{vacancy.createTime|date:'medium'}}</div>
            </div>
        </div>
    </div>
    <div ng-show="currentVacancy" class="clearfix sideView
" ng-class="currentVacancy ? 'col-lg-6' : 'hide'">
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools clearfix">
                <div class="col-lg-11"><span class="heading-vacancy-side
">{{currentVacancy.name}}</span></div>
                <div class="col-lg-1"><span ng-show="currentVacancy.hot == true" class="badge hot">HOT</span></div>
            </div>
        </md-toolbar>
        <md-content>
            <div class="wrapper-sidemenu col-centered">
                <div>
                    <md-tabs md-selected="selectedIndex" flex>
                        <md-tab ng-repeat="tab in tabsVacancies"><a href='javascript:void(0)'>{{tab.heading}}</a> </md-tab>
                    </md-tabs>
                    <div ng-show="updateProcess" class="progress progress-details" style="margin:0px">
                        <div class="indeterminate"></div>
                    </div>
                    <div ng-show="selectedIndex == 0">
                        <div class="col-centered section-edit col-lg-11 margin-t-20 
">
                            <md-input-container>
                                <label class="labelHeading">Name</label>
                                <input ng-blur="updateInfo(currentVacancyData.id)" ng-model="currentVacancyData.name">
                            </md-input-container>
                        </div>
                        <div class="col-centered section-edit col-lg-11">
                            <md-input-container>
                                <label class="labelHeading">Requirements</label>
                                <input ng-blur="updateInfo(currentVacancyData.id)" ng-model="currentVacancyData.requirements">
                            </md-input-container>
                        </div>
                        <div class="col-centered separator col-lg-12"></div>
                        <div class="col-centered section col-lg-11 clearfix">
                            <h5 class="vacancy-heading-inner">Tags</h5>
                            <div class="tags clearfix" ng-if="currentVacancyData.tags.length > 0">
                                <a ng-repeat="tag in currentVacancyData.tags" ng-if="currentVacancyData.tags.length > 0" ng-click="removeTag(tag.keyword)">{{tag.keyword}}<button><i class="glyphicon glyphicon-remove"></i></button></a>
                            </div>
                            <div class="col-centered section-edit col-lg-11">
                                <md-input-container>
                                    <label class="labelHeading">Type tag name and hit Enter, Space or type comma to add it.</label>
                                    <input ng-keyup="$event.keyCode == 13 || $event.keyCode == 32 || $event.keyCode == 188? addTag() : null" ng-model="tagEdit
">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="tags clearfix" ng-if="currentVacancyData.tags.length == 0">
                            <a class="no-tags
">Vacancy has no tags</a>
                        </div>
                    </div>
                    <div ng-show="selectedIndex == 1">
                        <div class="text-center
margin-t-20">
                            <md-button class="md-raised md-accent button-text-white
 inline add-flow-btn
" ng-click='selectedIndex = 2'><i src="glyphicon glyphicon-upload"> </i> Add Flow</md-button>
                        </div>
                        <div ng-repeat="item in vacanciesFlowData" class="col-centered section col-lg-11 section-suggestions">
                            <div class="col-lg-4 flow-candidate-name">Candidate [ {{item.id}} ]</div>
                            <div class="col-lg-4">
                                <md-select placeholder="{{item.actions[item.actions.length - 1].state}}" ng-model="actionsVal
[item.candidate.id]">
                                    <md-option ng-repeat="action in candidateActions" value="{{action.name}}">{{action.name}}</md-option>
                                </md-select>
                            </div>
                            <div class="col-lg-4 text-right">
                                <md-button class="md-raised button-comment-suggestions inline
" ng-click="editDescription

(item.id)">Description
                                </md-button>
                            </div>
                            <div class="row" ng-show="item.id == currentCommentEditId
">
                                <md-input-container class="comment-input
">
                                    <label>Description</label>
                                    <input ng-model="item.actions[item.actions.length - 1].description">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div ng-show="selectedIndex == 2" ng-controller="suggestionsView">
                        <div class="text-center
margin-t-20">
                            <md-button class="md-raised md-accent button-text-white
 inline add-flow-btn
" ng-click='sendFlow()'><i src="glyphicon glyphicon-upload"> </i>Add to flow</md-button>
                        </div>
                        <div ng-repeat="candidate in flowRecommended" class="col-centered section col-lg-11 section-suggestions">
                            <div class="col-lg-1">
                                <md-checkbox ng-model="flowaddModel
[candidate.id]" ng-change="addCandidateToFlow(candidate.id)" aria-label="Checkbox 1"></md-checkbox>
                            </div>
                            <div class="col-lg-4 flow-candidate-name">Candidate [ {{candidate.id}} ]</div>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>
        <style type="text/css">
        .tag-editable span {
            font-size: 12px;
            padding: 5px 10px;
        }
        
        .tag-editable button {
            margin: 0 10px;
            padding: 0;
            color: #fff;
            font-size: 12px;
            border: none;
            background: transparent;
        }
        </style>
    </div>
</div>
