<div class="col-sm-12 col-xs-12 col-lg-12 bottom-separator-line">
    <div id="candidate-info" class="col-sm-12 col-xs-12 col-lg-12">
        <div class="col-sm-6 col-xs-6 col-lg-6">
            <div class="title-text">
                <span><%= name %></span>
                <span><%= lastName %></span>
            </div>
            <div><%= position %></div>
            <div>Tags :</div>
        </div>
        <div class="col-sm-6 col-xs-6 col-lg-6">
            <div>Phone :</div>
            <div>Skype :</div>
            <div>e-mail :</div>
            <div>City :</div>
            <div>Company :</div>
        </div>
    </div>
    <div id="candidate-timeline" class="col-sm-12 col-xs-12 col-lg-12">

    </div>
</div>